# Install Libraries(If required)

In [ ]:
# !pip install numpy

In [ ]:
# !pip install seaborn

In [ ]:
# !pip install pandas

# Numpy

Numpy operates on *nd* arrays. These are similar to lists but contains homogenous elements but easier to store 2-d data.

Import the library

In [ ]:
import numpy as np

## How to initialize a numpy array

### Method 1: Initialize a list and convert into an array

First we create a list, then using the np.array function we convert the list to a numpy array and store it in a variable. Later using the inbuilt functions we print it's type, shape, size and the data type the array contains.

In [ ]:
l1=[1,2,3,4]
n1=np.array(l1)
print(n1)
print(type(n1))
print(n1.shape)
print(n1.size)
print(n1.dtype)

For 2D array using list, Initiliaze two lists and np.array() them. The number of elements in both the lists must be same

Just like the previous method but here we create two lists, then put these lists in a square bracket inside the np.array function.

In [ ]:
l1=[1,2,3,4]
l2=[5,6,7,8]
n1=np.array([l1,l2])
print(n1)
print(type(n1))
print(n1.shape)
print(n1.size)
print(n1.dtype)

### Method 2: Initialize as a np array itself.

We take two lists [1,2,3] and [4,5,6], put them together inside a square bracket inside np.array function and store it in a variable.

In [ ]:
n2=np.array([[1,2,3],
           [4,5,6]])
print(n2)
print(type(n2))
print(n2.shape)
print(n2.size)
print(n2.dtype)

### Method 3: Initialize an array using np.linspace and reshape them

np.linspace(start,end,num, endpoint= False/True)  

start: Mention the starting number of the sequence 

end: Mention the ending number of the sequence 

num: Mention the Number of numbers that the sequencce should have  

endpoint: Whether the end number must be included or not.

In [ ]:
n2=np.linspace(1,10,10,endpoint=True)
print(n2)
n2=np.resize(n2,(2,5))
print(n2)

## How to create an identity matrix

Command: np.identity(n), Returns an identity array of dimension n x n,  with its main diagonal set to one, and all other elements 0.

In [ ]:
n3=np.identity(3)
print(n3)

## How to choose a particular elements or slice a subset from the whole matrix

In [ ]:
n4=np.array([[1,2,3,4],
             [5,6,7,8],
             [9,10,11,12],
             [13,14,15,16]])
print(n4)
print(n4.shape)

n4[row,columns]

### To choose one or two rows only

#### CAUTION: Array and pandas index start from 0. Which means for the first row, the index is 0 and for second row the index is 1. We call out rows in numpy and pandas using their row index.

In the example below, we need the third row, so mention the numpy name and in square brackets mention the row index. For third row the row index is 2.

In [ ]:
n4[2]

To choose all the rows till a particular row use a colon before row index. This will select all the rows from zero to the row before the specified row. In the below example, we select the first two rows. n4[:a] means from first row index to a-1 row index. And n[:] means all rows and columns.

In [ ]:
n4[:2]

### To choose one or two columns

The value after the comma is for the column index. Here we are selecting third column ( index 2) of all rows.

In [ ]:
n4[:,2]

Similarly like rows to select more than one column, use colon followed by the columns index. This will select all the columns from zero index to the previous column mentioned in the column index.

In [ ]:
n4[:,:3]

### Slice a 2x2 matrix from the whole matrix

Here we are mentioning to start slicing 'n[2:4,' from the 2nd row index (3rd row) to end before the 4th row index, which is 3rd row index(4th row) . Andin the column section ',:2]' we are mentioning from 0th column index (1st column) to before the 2nd column index which is 1st column index(2nd column)

In [ ]:
n4[2:4,:2]

## Transpose and inverse functionality

np.arange(4) will create a 1-D array : [1,2,3,4] but using the reshape function we transform it into what ever shape we want. But keep in mind, in reshape(m,n) m x n must be equal to the number of elements in the array. Here 2x2 =4 = number of elements in array. Initilizing 3x3 will lead to error

In [ ]:
x = np.arange(4).reshape((2,2))

In [ ]:
print(x)

Specify the numpy array you want to transpose inside the round brackets of transpose function

In [ ]:
y=np.transpose(x)

In [ ]:
print(y)

In [ ]:
x=np.arange(16).reshape((4,4))
x

Specify the numpy array you want to take inverse of inside the round brackets of linalg.inv() function

In [ ]:
y = np.linalg.inv(x)
print(y)

## Multiplication of matrix using numpy

### Two methods:

np.dot(a,b): Use if both a and b are 2-D array(matrix)

np.matmul(a,b): Use if either of the two array are scalar or of different dimension.

In [ ]:
a = np.array([[1, 0], [0, 1]])
b = np.array([[4, 1], [2, 2]])

In [ ]:
c=np.dot(a,b)
c

In [ ]:
a = np.array([[1, 0],
              [0, 1]])
b = np.array([1, 2])

In [ ]:
c=np.matmul(a,b)
c

# Pandas

## Series

Pandas series are almost same as nd arrays in numpy, with a additional inferencing ability with custom labels like keys in a dictionary in python.

Initializing a series

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
series2 = pd.Series(data = [1,2,3], index = ['key1', 'key2', 'key3'])
series2

## Dataframe

A dataframe is a table with labeled columns which can hold different types of data in each column.

Initializing a dataframe

We are initilizaing a dictionary first. Each key is a column name and each key has a list as it's value. And then we convert it into a dataframe

In [ ]:
d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }
df1 = pd.DataFrame(d1)
df1

## Importing a csv file as df

Command: df=pd.read_csv(‘path_to_file/file.csv’, names=[], header= 0/None, index_col=0)  

For json file: df=pd.read_json(‘path_to_file/file.json’)

Use this command once you have loaded the dataset into your colab notebook

In [ ]:
df = pd.read_csv('auto-mpg.csv')

## To view the first and last entries

df.head(n): Display the first n number of rows (Default: 5 rows)  
df.tail(n): Display the bottom n number of rows(Default: 5 rows)

Display the first 5 rows

In [ ]:
df.head()

Display the last 5 rows

In [ ]:
df.tail()

## To save a df into a csv file

-df.to_csv('/location/name.cav',index=False)  
Index= False means that the index used in dataframe will not be saved as a separate column in the csv file

In [ ]:
df.to_csv('cars.csv',index=False)

### To view the column names

Displays the column names in a dataset

In [ ]:
df.columns

## To select one or more columns

-df[‘col_name]  
-df[[‘col1’,’col2’]]

Printing the first 5 rows of mpg column of dataset

In [ ]:
df['mpg'].head()

Printing the first 10 rows of the mpg and origin columns of the dataset

In [ ]:
df[['mpg','origin']].head(10)

## To copy one dataframe to another

Command: df2=df1.copy(deep=True)

Copy dataframe from df to df2. With deep argument= True, the changes done to dataset in df2 will not affect df. If deep= False, any changes in df2 will affect df

In [ ]:
df2=df.copy(deep=True)

## Slicing and joining operations  
It has the same syntax as numpy slicing operation

Command: df.iloc[row_indexer,column_indexer]

Slice all rows and column 2 and 3 and put in a variable df3

In [ ]:
df3=df.iloc[:,2:4]

In [ ]:
df3.head()

Slice rows from 2 to 4 and all columns and put in a variable df3

In [ ]:
df3=df.iloc[2:5,:]

In [ ]:
df3.head()

Slice the first 5 rows and all columns and save it to df2. Slice the next 5 rows and all columns and save it to df3

In [ ]:
df2=df.iloc[0:5,:]
df3=df.loc[5:10,:]

## Joining two dataframes that have same columns  
command: df1.append(df2)

Now df2 and df3 have the same columns. We use append function to join df3 at the end of df2 and save it to df4

In [ ]:
df4=df2.append(df3)

In [ ]:
df4

# Visualization

Importing the necessary libraries

In [ ]:
import pandas as pd
import seaborn as sns   # Why sns?  It's a reference to The West Wing
import matplotlib.pyplot as plt  # seaborn is based on matplotlib
sns.set(color_codes=True) # adds a nice background to the graphs
%matplotlib inline 
# tells python to actually display the graphs

Reading the csv file using read_csv function

In [ ]:
auto = pd.read_csv('Automobile.csv')
auto.head()

## Plotting univariate distributions

The most convenient way to take a quick look at a univariate distribution in seaborn is the distplot() function. By default, this will draw a histogram and fit a kernel density estimate (KDE).

Plotting distribution plot for column 'highway_mpg'

In [ ]:
sns.distplot(auto['highway_mpg'])

## Plotting bivariate distributions

It can also be useful to visualize a relationship between two variables.

Plotting joint plot for columns 'horsepower' and 'engine_size'

In [ ]:
sns.jointplot(auto['engine_size'], auto['horsepower'])

### Hex Bin Plots

We can make a hex bin plot that breaks the 2D area into hexagons and the number of points in each hexagon determines the color

It is similar to jointplot just with a different pattern

In [ ]:
sns.jointplot(auto['engine_size'], auto['horsepower'], kind="hex")

## Visualizing pairwise relationships in a dataset

To plot multiple pairwise scatterplots in a dataset, you can use the pairplot() function. This creates a matrix of axes and shows the relationship for each pair of columns in a DataFrame, it also draws the histogram of each variable on the diagonal Axes:

Be careful about toggle scrolling in the cell menu!!!

In [ ]:
sns.pairplot(auto[['normalized_losses', 'engine_size', 'horsepower']]) #If yo did not mention the columns you want, all columns will be considered.

A pairplot only using three columns. If the columns are not mentioned every continuous variable(columns) will be included in the plot

## Plotting with categorical vs continuous data

In a strip plot, the scatterplot points will usually overlap. This makes it difficult to see the full distribution of data. One easy solution is to adjust the positions (only along the categorical axis) using “jitter"

Plot with column horsepower along y-axis and fuel type along x-axis

In [ ]:
sns.stripplot(auto['fuel_type'], auto['horsepower'], jitter=True)

A different approach would be to use the function swarmplot(),It avoids overlapping points:

In [ ]:
sns.swarmplot(auto['fuel_type'], auto['horsepower'])

## Boxplots

Another common graph is a boxplot(). This kind of plot shows the three quartile values of the distribution along with extreme values. The “whiskers” extend to points that lie within 1.5 IQRs of the lower and upper quartile, and then observations that fall outside this range are displayed independently.

Plotting a box plot with column 'horsepower' aling y-axis and 'number of doors' along x-axis

In [ ]:
sns.boxplot(auto['number_of_doors'], auto['horsepower'])

We can add an argument called hue to further add another categorical variable to the existing plot. This is completely optional

In [ ]:
sns.boxplot(auto['number_of_doors'], auto['horsepower'], hue=auto['fuel_type'])

## Bar plots

We can plot the mean of a a dataset, separated in categories using the barplot() function.

Bar plots start at 0, which can sometimes be practical if zero is a number you want to compare to

Plotting bar plots for columns body_style, horsepower with fuel type as hue

In [ ]:
sns.barplot(auto['body_style'], auto['horsepower'], hue=auto['fuel_type'])

A special case for the bar plot is when you want to show the number of observations in each category rather than computing the mean of a second variable. This is similar to a histogram over a categorical, rather than quantitative, variable. In seaborn, it’s easy to do so with the countplot() function:

## Countplot

Plots the number of observations in each category of categorical column/ variable

Plot the count plot for body style column with hue as fuel_type

In [ ]:

sns.countplot(auto['body_style'],hue=auto['fuel_type'])

# Exploratory Data analysis

###  Load the libraries:

Import the numpy, pandas, matplotlib and seaborn libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt  
sns.set(color_codes=True) 
%matplotlib inline

### Import the dataset

Using pd.read_csv command load the csv file as df and using the head() function viewing the first five rows.

In [ ]:
auto  = pd.read_csv('Automobile.csv') 
auto.head()  # view the first 5 rows of the data

The column make has no significance to the target variable so remove it

In [ ]:
auto.drop('make',axis=1,inplace=True)

Print the column names of the dataset

In [ ]:
auto.columns

### Check the dimensions of the data

See the shape of the data

In [ ]:
auto.shape

**There are 201 Observations / Rows and 26 Attributes / Columns.**

### How to know if the variables are continuous or categorical ??

Prints the number of unique values in each column of the dataset

In [ ]:
auto.nunique()

The columns with less number on the right hand side is most probably a categorical variable whereas with large number it is continuous variable.

### Count the number of observations in categorical varibales

Prints the number of observations in each category in that column

In [ ]:
auto['body_style'].value_counts()

Prints the number of observations in each category in that column

In [ ]:
auto['number_of_doors'].value_counts()

### Check the Information about the data and the datatypes of each respective attributes.

In [ ]:
auto.info()

### Descriptive Statistics

#### Calculate mean, mode and median

Prints the mean of the dataset for each variable/column

In [ ]:
print(auto.mean())

Print the mode of the dataset for that  variable/column

In [ ]:
print(auto['city_mpg'].mode())

 Only one mode for city_mpg column

Prints the median of the dataset for each variable/column

In [ ]:
print(auto.median())  # Print the median values of the data.

#### Plotting mean,mode and median for a single attribute

In [ ]:
mean=auto['city_mpg'].mean()
median=auto['city_mpg'].median()
mode=auto['city_mpg'].mode()

print('Mean: ',mean,'\nMedian: ',median,'\nMode: ',mode[0])

plt.figure(figsize=(10,5)) # set the figure size
plt.hist(auto['city_mpg'],bins=100,color='lightblue') #Plot the histogram

plt.axvline(mean,color='green',label='Mean')     # Draw lines on the plot for mean median and the two modes we have in GRE Score
plt.axvline(median,color='blue',label='Median')
plt.axvline(mode[0],color='red',label='Mode1')


plt.xlabel('City_mpg')   # label the x-axis
plt.ylabel('Frequency')   # label the y-axis
plt.legend()              # Plot the legend
plt.show()

#### Get Q1,Q2, Q3
- Q1 :value below which 25% of the data lies
- Q2 :value below which 50% of the data lies
- Q3 :value below which 75% of the data lies

Prints the Q1 of the dataset for each variable/column

In [ ]:
print("Data_quantile(25%):")
print(auto.quantile(q=0.25))   # Prints the value below which 25% of the data lies

Prints the Q2 of the dataset for each variable/column

In [ ]:
print("Data_quantile(50%):")
print(auto.quantile(q=0.50))   # Prints the value below which 50% of the data lies

Prints the Q3 of the dataset for each variable/column

In [ ]:
print("Data_quantile(75%):")
print(auto.quantile(q=0.75)) # Prints the value below which 75% of the data lies

#### IQR regiod of a dataset: Q3-Q1

In [ ]:
auto.quantile(0.75) - auto.quantile(0.25)

#### Variance

Prints the variance of the dataset for each variable/column

In [ ]:
print(auto.var()) # the  output says how much was the data dispersion.

#### Standard Deviation

Prints the std of the dataset for each variable/column

In [ ]:
print(auto.std()) #the output says how much the data deviated from the mean.

### Covariance and Correlation

Covariance signifies the direction of the linear relationship between the two variables. By direction we mean if the variables are directly proportional or inversely proportional to each other.

Prints the covariance of each attribute against every other attribute

In [ ]:
auto.cov()

Correlation is not only used to identify the type of relationship between the columns but also how strong they are.Thus, we can say the correlation values have standardized notions, whereas the covariance values are not standardized and cannot be used to compare how strong or weak the relationship is because the magnitude has no direct significance.

Prints the correlation coefficient between every pair of attributes

In [ ]:
auto.corr()

#### Another way to check for correlation is using a heat map

In [ ]:
fig,ax = plt.subplots(figsize=(10, 10))   
sns.heatmap(auto.corr(), ax=ax, annot=True, linewidths=0.05, fmt= '.2f',cmap="magma") # the color intensity is based on 
plt.show()

One of the perfect ways to visualize correlation between variables. The correlation between each variable is printed in each box.

### Five point summary
Gives us the mean, count, standard deviation, min, max, Q1,Q2 and Q3 in a single command for all continuous variables

In [ ]:
auto.describe().T

### How to deal with missing, duplicate and outlier values

Import the dataset named 'Automobile2.csv'

In [ ]:
auto  = pd.read_csv('Automobile2.csv') 
auto.head()

#### Removing duplicate variables

In [ ]:
dupes = auto.duplicated()
sum(dupes)

There are 3 duplicate values in our current dataset, use the following command to remove them

In [ ]:
auto =auto.drop_duplicates()

In [ ]:
dupes = auto.duplicated()
sum(dupes)

No more duplicate values

#### To check for missing values

In [ ]:
auto.isnull().sum()

In [ ]:
auto.isnull().values.any()

In [ ]:
pd.DataFrame( auto.isnull().sum(), columns= ['Number of missing values'])

There are many values in which missing values can be replaced by different values which is often called
as imputing missing values. It depends on your data and the problem you are trying to solve. In the below cell different types of missing value imputations are shown.

#### Column wise imputating missing value

Replacing NaN with a custom value

In [ ]:

auto['number_of_doors'].fillna('two', inplace = True)

Replace NaN values with the mean of the column

In [ ]:

 auto['stroke'].fillna(auto.stroke.mean(), inplace = True)

Replace NaN values with the median of the column

In [ ]:

 
auto['peak_rpm'].fillna(auto.peak_rpm.median(), inplace = True)

#### To apply a single method over the entire the dataframe rather than applying it for one column

medianFiller = lambda x: x.fillna(x.median())  

auto = auto.apply(medianFiller,axis=0)

#### Caution: Among the above four methods, using mean and mode or other numerical operations for imputing missing values requires the column to contain number (int or float). If it contains words(string)then only method is to use first method, fill that particular column with a custom value or drop that row

#### Drop rows with missing values. Use this method when we have a lot of data and missing a few will not affect the data size

In [ ]:
auto.dropna(inplace=True)  # Drops all the rows that have atleast one missing values
auto.isnull().sum()

No missing values detected

## Normalization

### Why do we need Normalization?

Each column can have different ranges, this can be seriously affect the performance of the model so we normalize the values so that all columns and variables have the same range(0,1).

In [ ]:
from sklearn.preprocessing import MinMaxScaler

minmax_scale = MinMaxScaler()

minmax_scale

Using min-max normalization to normalize the columns bore and city_mpg

In [ ]:
auto[['bore','city_mpg']] = minmax_scale.fit_transform(auto[['bore','city_mpg']])  #Add all those continuous variables that needed to be normalized

Now the range of column is from 0 to 1

In [ ]:
auto['city_mpg'].min(), auto['city_mpg'].max()

## One hot encoding

One-Hot-Encoding is used to create dummry variables to replace the categories in a categorical variable into features of each category and represent it using 1 or 0 based on the presence or absence of the categorical value in the record. These categorical values hold object datatype values not int or float. For example in the above dataset, fuel_system,aspiration,number_of_doors, body_style, engine_location, drive_wheels, fuel_type are some of the columns that needs one hot enconding

We apply one hot encoding over one of the categorical variable 'Door' that holds object data type

In [ ]:
df_dummies= pd.get_dummies(auto, prefix='Doors', columns=['number_of_doors'])

In [ ]:
df_dummies.head()

#### Once one hot encoding is done median method to impute missing values can be performed.

# Hands-On session -I Numpy

Q1: Create a 3x3 matrix containing the elements [1,2,3,4,5,6,7,8,9], print it's size , shape and type

Q2: Create a 3x4 matrix using np.arange, print it's size, shape  


Hint: np.arange(start,end,step)  

start (int):start of the sequence. If not intialized 0 will be considered as default  

end(int):end of sequence (Will end before this number)  

step(int): Spacing between two adjacent values. Optional, 1 will be considered as default

Q3: Create a 2x2 matrix with all elements as 0. Hint: use np.zeros((m,n))

Q4: Slice the center 2x2 matrix from the 4 x 4 matrix. Create a 4x4 matrix firstly

Q5: Solve the following formula a * c = b. a and  b are given find c.  
Hint: c= b x a.inverse

In [ ]:
a= np.array([[2,6],[8,4]])
b= np.array([[1,3],[9,5]])

# Hands-On session -II Pandas

Q1: Load the csv file called 'cars.csv' into the notebook

Q2: Explore the dimesions and size

Q3: Print the last 20 rows

Q4: Slice the rows: 15 to 29 and keep it as a seperate dataframe

Q5: Slice the last two columns and keep it as a seperate dataframe

# Hands-On session -III Visualization

Load the previous dataset 'cars.csv'. It has both categorical and continuous variables. Plot the following.

Q1. Pair plot of all variables (continuous)

Q2. Plot any two countplots using (categorical variables)

Q3. Plot any Two Categorical vs continuous variable plots

Q4. Any other plot of your choice and variable from the dataset

# Hands-On session -IV Exploratory Data Analysis

Load the Admission_Predict.csv dataset and perform all the above operation.

Details about the dataset:
This dataset is used for prediction of Graduate Admissions. It has the following attributes  

    1. GRE Scores ( 290 to 340 ) 
    2. TOEFL Scores ( 92 to 120 ) 
    3. University Rating ( 1 to 5 )
    4. Statement of Purpose ( 1 to 5 )  
    5. Letter of Recommendation Strength ( 1 to 5 ) 
    6. Undergraduate GPA ( 6.8 to 10 ) 
    7. Research Experience ( 0 or 1 ) 
    8. Chance of Admit ( ranging from  0.34 to 0.97)

Q1. Import the necessary libraries  
numpy,pandas,matplotlib,seaborn

Q2. Load the csv data using pd.read_csv function. Print the shape and dimension of the data using df.size and df.shape. Remove unecesasry rows using function df.drop('col_name',axis=1) and print column names using df.columns function

Optional: Try to implement commands like 
- df.info,
- df.nunique,
- df['col'].value_counts()

Q3. Get descriptive statistics( mean, mode, median, co-realation, co-variance, Q1,Q2,Q3 etc) from the dataset  
Try to use these commands 
- df.mean,
- df.mode,
- df.median,
- df.describe, 
- df.quantile(q=0.25%), 
- IQR.
- df.corr()
- df.cov()
Refer to the Exploratory Data Analysis section in this notebook

Q4. Use the various seaborn libraries to plot the columns from dataset. Use  

- sns.distplot()
- sns.pairplot()
- sns.scatterplot()
- sns.jointplot()
- sns.countplot()
- sns.boxplot

Use any number of combinations or choices

Q5. Remove duplicate values from the dataset if necesasy.  
Use df.drop_duplicates() dunction

Q6. Perform one hot encoding function, if required. Use pd.get_dummies() function

Q7. Identify and Impute any missing values in the dataset. Use either
- df['col'].fillna(): mean or median or custom value
- Or Lambda dunction
Refer to the impute missing value section

Q8. Normalize the values in the column. Use the min_max normalization method mentioned in the notebook above.